@import url(http://fonts.googleapis.com/css?family=Signika);
*{
	font-family: 'Signika', sans-serif !important;
}
.icon-custom{
	margin-top: 0px;
	margin-right: 3px;
	margin-left: 10px;
}
.img-boder{
	border:2px solid #ddd;
	padding:5px;
}

@media (min-width: 768px)  { 
    .property-thumbnail{
        height:150px !important;
    }

}